# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/TelBot/CopilotIndices/0.2.1634.3922
/.vs/TelBot/CopilotIndices/0.2.1634.3922/CodeChunks.db
/.vs/TelBot/CopilotIndices/0.2.1634.3922/CodeChunks.db-shm
/.vs/TelBot/CopilotIndices/0.2.1634.3922/CodeChunks.db-wal
/.vs/TelBot/CopilotIndices/0.2.1634.3922/SemanticSymbols.db
/.vs/TelBot/CopilotIndices/0.2.1634.3922/SemanticSymbols.db-shm
/.vs/TelBot/CopilotIndices/0.2.1634.3922/SemanticSymbols.db-wal
/.vs/TelBot/FileContentIndex
/.vs/TelBot/FileContentIndex/785464c9-c9b1-4640-a8ee-5e7e9c344524.vsidx
/.vs/TelBot/FileContentIndex/eebc2ba3-7a66-42d3-acc1-0f22467aad85.vsidx
/.vs/TelBot/v17
/.vs/TelBot/v17/.wsuo
/.vs/TelBot/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
